body {  
    font-family: Arial, sans-serif;  
    margin: 0;  
    background-color: #141414;  
    color: white;  
}  

header {  
    padding: 20px;  
    background-color: #111;  
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
}  

.logo {  
    font-size: 24px;  
    font-weight: bold;  
}  

nav ul {  
    list-style: none;  
    display: flex;  
    gap: 20px;  
    margin: 0;  
    padding: 0;  
}  

nav a {  
    color: white;  
    text-decoration: none;  
}  

.search-container {  
    text-align: center;  
    margin: 20px 0;  
    position: relative;  
}  

#search {  
    padding: 10px;  
    width: 300px;  
    border: none;  
    border-radius: 5px;  
    outline: none;  
}  

.carousel {  
    position: relative;  
    max-width: 90%;  
    margin: 0 auto 20px auto; /* Ajustar margen inferior para espacio entre el carrusel y películas */  
    overflow: hidden;  
}  

.carousel-container {  
    display: flex;  
}  

.slides {  
    display: flex;  
    transition: transform 0.5s ease-in-out;  
}  

.slide {  
    min-width: 300px;  
    margin: 0 10px;  
    text-align: center;  
}  

.slide img {  
    width: 100%;  
    border-radius: 8px;  
}  

/* Estilos de los botones del carrusel */
button {
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10; /* Asegura que las flechas estén siempre sobre las imágenes */
    transition: background-color 0.3s, transform 0.3s ease;
}

/* Botón de la flecha izquierda */
.prev {
    left: 20px; /* Ajuste para mantener la flecha a la izquierda */
}

/* Botón de la flecha derecha */
.next {
    right: 20px; /* Ajuste para mantener la flecha a la derecha */
}

/* Efecto hover para los botones */
button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateY(-50%) scale(1.1);
}


h1, h2 {  
    text-align: center;  
    margin: 20px 0;  
}  

.movies-list {  
    display: flex;  
    flex-wrap: wrap;  
    justify-content: space-around;  
    padding: 20px;  
}  

.movie {  
    position: relative;  
    margin: 10px;  
    text-align: center;  
    width: 150px;  
    transition: transform 0.3s;  
}  

.movie img {  
    width: 100%;  
    border-radius: 8px;  
    transition: transform 0.3s;  
}  

.movie:hover {  
    transform: scale(1.05);  
    z-index: 1;  
}  

.movie h4 {  
    margin: 5px 0 5px;  
    font-size: 16px;  
}  

footer {  
    text-align: center;  
    padding: 20px;  
    background-color: #111;  
}